# IDE
.idea

# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Email spool folder
/app/spool/*

# Cache, session files and logs (Symfony3)
/app/var/cache/*
/app/var/logs/*
/app/var/sessions/*
!app/var/cache/.gitkeep
!app/var/logs/.gitkeep
!app/var/sessions/.gitkeep

# Logs (Symfony4)
/app/var/log/*
!/app/var/log/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/app/var/bootstrap.php.cache
/app/bin/*
!/app/bin/console
!/app/bin/symfony_requirements
/app/vendor/

# Assets and user uploads
/app/web/bundles/
/app/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid

###> symfony/framework-bundle ###
/app/.env.local
/app/.env.local.php
/app/.env.*.local
/app/config/secrets/prod/prod.decrypt.private.php
/app/public/bundles/
/app/var/
###< symfony/framework-bundle ###

###> System Log Files ###
/var/log
###< System Log Files ###
